# Prerequisites
*.d
.DS_Store

# Dependency caches
/packages
/node_modules

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Rproj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.log
